.article__tag,
.article__title {
  text-transform: uppercase;
}
.article {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 225px;
  background: #fff;
  border-radius: 16px;
}
.article:hover,
.article__tag:hover {
  cursor: pointer;
  filter: brightness(1.2);
}
.article__tag:hover {
  scale: 1.1;
}
.article__img {
  height: 152px;
  background: #728ccf;
}
.article__content {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 12px;
}
.article__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.article__title {
  text-overflow: ellipsis;
  max-height: 50px;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  color: #2e3d7f;
}
.article__tag {
  padding: 8px 16px;
  color: #e9eaef;
  background: #2e3d7f;
  border-radius: 99px;
}
