.hero {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  gap: 40px;
  padding: 40px;
  height: 100vh;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 32px;
  width: 422px;

  background: rgb(233 234 239 / 75%);
  backdrop-filter: blur(5px);

  width: min-content;
  justify-content: center;
}
.hero__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 10.4px;
  width: 100%;
}
.btn--primary,
.btn--secondary {
  display: flex;
  padding: 24px;
  width: 100%;
  height: 44px;
  letter-spacing: 0.03em;
  font-size: 20px;
}
.btn--primary {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #e9eaef;
  border: none;
  background: #2e3d7f;
  border-radius: 649.35px;
}
.btn--secondary,
h1 {
  font-style: normal;
  color: #2e3d7f;
}
.btn--secondary {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #e9eaef;
  border: 1.95px solid #2e3d7f;
  border-radius: 649.35px;
}
h1 {
  width: 422px;
  font-weight: 700;
  font-size: 54px;
}
.hero__p {
  font-weight: 400;
  font-size: 18px;
  color: #161721;
}
.hero__articles {
  display: grid;
  width: 100%;
  height: 240px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  overflow: hidden;
  padding: 0px;
  gap: 36px;
}
.hero__img {
  width: 60vw;
}
.hero__news {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  gap: 36px;
}

@media only screen and (width < 768px) {
  h1 {
    width: 100%;
    font-size: 44px;
  }
  .hero {
    justify-content: start;
    height: auto;
  }
  .hero__buttons {
    flex-direction: column;
    width: 100%;
  }
  .hero__content {
    width: 100%;
    margin: 0;
  }
  .hero__text {
    text-align: center;
  }
  .hero {
    gap: 20px;
    padding: 20px;
    flex-direction: column-reverse;
  }
  .hero__img {
    width: auto;
    height: 40vh;
  }
}
