i,
i::after {
  width: 40px;
  height: 40px;
  transition: 0.3s;
}
.icon_hover_effect:hover::after,
i::after {
  background-color: #2e3d7f;
  position: absolute;
  z-index: -1;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  background: #e9eaef;
  width: 100vw;
  min-height: 100vh;
}
a {
  text-decoration: none;
}
i::before {
  font-size: 40px;
  color: #000;
}
[class^='ri-search']::before {
  font-size: 24px;
}
a,
button,
i {
  cursor: pointer;
}
a:hover,
button:hover {
  filter: brightness(1.3);
  scale: 1.01;
}
a:hover {
  text-decoration: underline;
}
i {
  position: relative;
  overflow: hidden;
}
.icon_hover_effect:hover::before {
  color: #e9eaef;
}
.icon_hover_effect::before {
  position: absolute;
  top: 8px;
  left: 8px;
}
i::after {
  border-radius: 99px;
  content: '';
  top: 25%;
  left: 25%;
  scale: 0;
}
.icon_hover_effect:hover::after {
  scale: 1;
  top: 0;
  left: 0;
}
.section__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 32px;
  width: 338px;
  height: 403px;
  background: #e9eaef;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.15);
  border-radius: 32px;
  align-self: stretch;
}
.icon_circle {
  background: #2e3d7f;
  border-radius: 999px;
  width: 84px;
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon_circle i {
  height: 50px;
  width: 50px;
}
.icon_circle i::before {
  font-size: 50px;
  color: #e9eaef;
}
.sections__cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 26px;
}
.card__title {
  font-size: 22px;

  text-align: center;
  color: #161721;
}
.card__des {
  font-weight: 400;
  font-size: 16px;

  color: #161721;
}
button a {
  width: 100%;
  padding: 24px;
  display: block;
}
a {
  color: #2e3d7f;
}
footer {
  display: flex;
  justify-content: center;
  padding: 32px 16px;
  gap: 64px;

  width: 100%;

  background: #2e3d7f;
}
.contact_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 32px;
}
.contact_info__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 16px;

  width: 100%;
}
.footer__title {
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 400;
  font-size: 32px;

  text-align: center;
  color: #e9eaef;
}
.contact_info__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
}
.contact_info__link {
  display: flex;
  align-items: center;
  padding: 0px;
  gap: 24px;
}
.contact_info__link a {
  color: #e9eaef;
}
.contact_info__link ::before {
  color: #e9eaef;
}
.contact_info__social_media {
  display: flex;

  padding: 16px;
  gap: 24px;

  background: rgba(233, 234, 239, 0.75);
  border-radius: 16px;
}
.contact_info__social_media ::before {
  color: #2e3d7f;
}
.copyright {
  /* font-family: 'Roboto'; */
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #e9eaef;
}
.contact_form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 22px;
}
.contact_form input,
.contact_form textarea {
  padding: 12px;
  border: 0;
  width: 100%;

  background: rgba(233, 234, 239, 0.75);
  border-radius: 16px;
}
.contact_form input::placeholder,
.contact_form textarea::placeholder {
  /* font-family: 'Roboto'; */
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #2e3d7f;
}
@media screen and (width < 768px) {
  footer {
    flex-direction: column;
  }
}
